<a href="http://nips.cc"> 
  <img class="logo" src="{{site.baseurl}}/images/nips_logo.svg" width="220px" align="bottom"> 
</a>
<h1>Black Box Learning and Inference</h1>
<h3>NIPS Workshop, 12 December 2015, Montréal, Canada</h3>
<ul >
  {% for link in site.navigation %}
  {% capture url %}{{site.baseurl}}{{link.url}}{% endcapture %}
  {% capture longurl %}{{url|append:"index.html"}}{% endcapture %}
  <li {% if (page.url == url) or (page.url == longurl) %}class="active"{% endif %}>
    <a href="{{url}}" title="{{link.title}}">{{link.text}}</a>
  </li>
  {% endfor %}
</ul>
<hr>
